body {
  background-color: #EEEEEE;
}

.grid {
  text-align: start;
  font-size:medium;
  font-weight:500;
  margin: 40px;
  width: 450px;
  position: absolute;
  left: 7%;
  top: 18%;
  margin-top: 200px;
}

.hbtn{
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  border: 0 solid white;
  border-radius:10px;
  padding: 10px 32px;
  margin-top: 15px;
  font-weight: 500;
  color:#333;
}

.hbtn:hover{
  background-color: #00ADB5;
  padding: 10px 34px;
}

.grid-i {
  position: absolute;
  top: 24%;
  right: 12%;
  margin-top:50px;
  
}

.hu_hu_ {
   width:400px;
}
h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight:900;
}
/*
@keyframes hu_hu_ {
  50% { transform: translate(50px); }
 
  
} */